*.wxmx text
*.mac text
*.wxm text
*.wxmx diff=text
*.mac diff=text
*.wxm diff=text
*.wxm linguist-language=maxima-session
*.wxmx linguist-language=maxima-session
*.mac linguist-language=maxima-session
